#Config Api
PORT=<PORT>
TIMEZONE=<TIMEZONE>

#Config App
FRONTEND_URL=<FRONTEND_URL>

#Config Database
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_NAME=<DB_NAME>


#Config JWT
AUTH_JWT_SECRET=<AUTH_JWT_SECRET>
AUTH_JWT_EXPIRES_IN_SECONDS=<AUTH_JWT_EXPIRES_IN_SECONDS>
AUTH_JWT_COOKIE_NAME=<AUTH_JWT_COOKIE_NAME>


#Config SAP
SAP_SL_URL=<SAP_SL_URL>

SAP_DB_AE=<SAP_DB_AE>
SAP_DB_FG=<SAP_DB_FG>
SAP_DB_FGM=<SAP_DB_FGM>
SAP_DB_TEST=<SAP_DB_TEST>
SAP_DB_TYA=<SAP_DB_TYA>

SAP_USER_TYA=<SAP_USER_TYA>
SAP_PASS_TYA=<SAP_PASS_TYA>

SAP_USERNAME=<SAP_USERNAME>
SAP_PASSWORD=<SAP_PASSWORD>